# source insight 3.5
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PRI
*.PS
*.WK3
*.PR
*.SearchResults

# source insight 4.084
/u_boot_1.1.6.si4project/

# SlickEdit
*.vpj
*.vpw
*.vpwhist
*.vtg