# source insight 3.5
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PRI
*.PS
*.WK3
*.PR
*.SearchResults

# source insight 4.084
uboot-1.1.6-SI.si4project/

# SlickEdit
*.vpj
*.vpw
*.vpwhist
*.vtg
*.vpwhist
*.vpwhistu

# make
board/100ask24x0/*.o
board/100ask24x0/*.a
board/100ask24x0/*.depend
common/*.o
common/*.a
common/*.depend
cpu/arm920t/*.o
cpu/arm920t/*.a
cpu/arm920t/*.depend
cpu/arm920t/s3c24x0/*.o
cpu/arm920t/s3c24x0/*.a
cpu/arm920t/s3c24x0/*.depend
disk/*.o
disk/*.a
disk/*.depend
drivers/*.o
drivers/*.a
drivers/*.depend
drivers/nand/*.o
drivers/nand/*.a
drivers/nand/*.depend
drivers/nand_legacy/*.o
drivers/nand_legacy/*.a
drivers/nand_legacy/*.depend
drivers/sk98lin/*.o
drivers/sk98lin/*.a
drivers/sk98lin/*.depend
dtt/*.o
dtt/*.a
dtt/*.depend
examples/*.o
examples/*.a
examples/*.depend
examples/*.bin
examples/*.srec
fs/ext2/*.o
fs/ext2/*.a
fs/ext2/*.depend
fs/fat/*.o
fs/fat/*.a
fs/fat/*.depend
fs/fdos/*.o
fs/fdos/*.a
fs/fdos/*.depend
fs/jffs2/*.o
fs/jffs2/*.a
fs/jffs2/*.depend
fs/reiserfs/*.o
fs/reiserfs/*.a
fs/reiserfs/*.depend
fs/cramfs/*.o
fs/cramfs/*.a
fs/cramfs/*.depend
lib_arm/*.o
lib_arm/*.a
lib_arm/*depend
lib_generic/*.o
lib_generic/*.a
lib_generic/*.depend
net/*.o
net/*.a
net/*.depend
post/*.o
post/*.a
post/*.depend
post/cpu/*.o
post/cpu/*.a
post/cpu/*.depend
rtc/*.o
rtc/*.a
rtc/*.depend
tools/*.o
tools/*.a
tools/*.depend
*.map
examples/hello_world
include/asm
include/asm-arm/arch
include/asm-arm/proc
include/bmp_logo.h
include/version_autogenerated.h
include/config.h
include/config.mk
tools/bmp_logo
tools/crc32.c
tools/envcrc
tools/environment.c
tools/gen_eth_addr
tools/img2srec
tools/mkimage

#make
u-boot
u-boot.bin
u-boot.srec
